.container {
	width: 1920px;
	margin: auto;
}

.logo_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 24px 40px;
}

.platform_name {
	font-family: "inter-regular";
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
}

.avatar {
	display: grid;
	width: 188px;
	height: 40px;
	grid-template-columns: 32px 120px 14px;
	align-items: center;
}

.avatar__name {
	margin-right: 7px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.content {
	display: flex;
}

.sidebar__items {
	width: 285px;
	height: 975px;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	align-items: flex-end;
	padding: 12px 0;
}

.sidebar__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 16px;
	gap: 12px;
	width: 236px;
	height: 48px;
	text-decoration: none;
}

.sidebar__item span {
	color: #1E293B;
	text-align: left;
	width: 172px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.divider {
	width: 24px;
	height: 975px;
	background: #F8F9FA;
}

.content_courses {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	width: 1545px;
	height: 975px;
	padding: 32px 40px;
	margin-left: 25px;
}

.content_courses h4 {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

.courses_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: flex-start;
	column-gap: 24px;
	row-gap: 38px;
	width: 1465px;
	height: 887px;
}

.courses_item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 14px;
	gap: 16px;
	width: 472px;
	height: 193px;
	border: 1px solid #EAB308;
	border-radius: 10px;
}

.courses_item h6 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.courses_item div {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}

.courses_item Button {
	margin-top: 46px;
	padding: 18px 16px;
}

.courses_item Button span {
	font-weight: 500;
	font-weight: normal;
	line-height: 20px;
	margin-bottom: 3px;
}