.container {
  width: 1920px;
  margin: auto;
}

.logo_block {
  display: flex;
  justify-content: space-between;
  margin: 24px 40px 22px;
}

.registration {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #64748b;
  margin: 17px 22.5px 12px;
}

.platform_name {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
}

.main_block {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
.form {
  margin: 0px auto;
  text-align: start;
}
.authorisation_form {
  display: flex;
  flex-direction: column;
  margin-top: 300px;
}
.authorisation_form label {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
  margin-left: 12px;
}
.form_input,
.button {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  width: 336px;
  height: 48px;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  color: #1e293b;
  margin-bottom: 16px;
}
.form_input_error {
  border-color: red;
}
.button {
  width: 336px;
  height: 48px;
  background-color: #4b5563;
  color: #ffffff;
}
.button:disabled {
  background-color: white;
}
.form_input {
  padding-left: 12px;
}
.eye {
  position: relative;
  right: 35px;
  top: 3px;
}
.link {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
}
.error {
  position: relative;
  bottom: 16px;
  margin-left: 12px;
  color: #000;
  max-width: 400px;
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.message {
  font-family: "inter-regular";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
}
